div.center#titlebar
  div.left#titlewrap
    a(href='/')
      h1.title.inline List
        span#pop Pop
    a(href='/addlist')
      p.inline.title Add List
    a(href='/logout')
      p.inline.title Logout