extends layout

block scripts
  script(type="text/javascript", src='/javascripts/addlist.js')

block content
  include _titlebar
  div#content
      div.center.container#addlist
        form(method='post',action='',id='newlist')
            div.container.entry
                | Playlist Title:
                input(name='title')
            br
            div.container.entry
                | Song Title:
                input(name='songtitle')
            div.container.entry
                | Song Artist:
                input(name='artist')
            button#save
                | Save List